* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, "sans-serif";
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 0;
  flex-direction: column;
}

.quiz {
  max-width: 500px;
  max-height: fit-content;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 16px;
}

.quiz h1 {
  margin-bottom: 20px;
}

.quiz #jumlah-soal {
  font-size: 12px;
  text-align: center;
  margin-bottom: 4px;
}

.quiz #hasil {
  font-size: 12px;
  margin-top: 8px;
}

.quiz .next {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.quiz .next button {
  background-color: rgba(0, 0, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.jawaban #jawaban1 {
  margin-right: 12px;
}

.jawaban #jawaban1,
#jawaban2 {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 8px;
  margin-top: 12px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 12px;
}
.jawaban #jawaban1:hover,
#jawaban2:hover {
  background-color: #eee;
}
